@page "/"

<PageTitle>Home</PageTitle>

<div class="chat-page">
    <div class="chat-container">
        <div class="chat-question">
            Por que o céu é azul?
        </div>

        <div class="chat-answer">
            Quando você usa display: flex com flex-direction: column, o padrão é que os filhos ocupem 100% da largura do
            contêiner.
            Se você não quiser que os filhos tenham largura total, pode resolver de algumas formas:
        </div>

        <div class="chat-question">
            Mas por que?
        </div>

        <div class="chat-answer">
            ...
        </div>
    </div>
    <div class="chat-prompt">
        <textarea name="" id="" cols="30" rows="3"></textarea>
        <button>
            Enviar
        </button>
    </div>
</div>
