@page "/"
@rendermode InteractiveServer
@using CoffeeShop.Extensions
@using CoffeeShop.Models
@inject AppDbContext Context
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<div class="container">
    <div>
        <p style="text-align: center">Os melhores cafés estão aqui! Como podemos te ajudar hoje?</p>
        <input type="text" @bind="Prompt" disabled="@IsBusy">
        <button @onclick="OnNewChatAsync" disabled="@IsBusy">INICIAR</button>
    </div>
</div>


@code {

    private string Prompt = string.Empty;
    private bool IsBusy { get; set; } = false;

    private async Task OnNewChatAsync()
    {
        IsBusy = true;
        var chat = new ChatModel
        {
            Id = Guid.CreateVersion7(),
            Title = Prompt,
        };

        var message = new ChatMessageModel
        {
            Id = Guid.CreateVersion7(),
            ChatId = chat.Id,
            Content = Prompt,
            Role = AuthorRole.User.Map()
        };

        chat.Messages.Add(message);

        await Context.Chats.AddAsync(chat);
        await Context.SaveChangesAsync();
        IsBusy = false;
        
        NavigationManager.NavigateTo($"/chats/{chat.Id}");
    }

}